* {
    margin: 0;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#252525;
    padding-top: 5px;
}
.logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
/*menu and logo*/
.menu-bar {
    font-size: 110%;
    letter-spacing: 4px;
}   

.menu-bar, .logo{
    line-height: 75px;
}

.menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}
.menu a {
   text-decoration: none;
   color: inherit;
}

.menu a:hover{
   border-bottom: 1px solid #3a3a3a;
}
.active{
   border-bottom: 1px solid #3a3a3a;
}

/* hero image*/

.hero-image1 {
    background-image: url(../image/gustavo-campos-B87zMorEZRo-unsplash.jpg);
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

/*What is formula One ?*/
#foruma-one{
    height: 600px;

}

#left-side{
    padding-top: 30px;
    width: 33%;
    float: left;
    padding-left: 10%;
    
}
#rigth-side{
    padding-top: 30px;
    width: 33%;
    float: right;
    padding-right: 10%;
    
}


hr {
    border-top:1px solid #3a3a3a ;
    width: 100%;
    margin: 5px;
}

c
.rigth-line{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#f1, h2 {
    text-align: center;
}

#f1{
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

/*fast-link*/

#fast-link{
    height: 400px;
    display: flex;
    
}
.team-image {
    background-image: url(../image/hanson-lu-inVnYQoO9LI-unsplash.jpg);
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 50%;
}
#team {
    padding-left: 15%;
    width: 40%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}
.race-image {
    background-image: url(../image/moritz-graf-1wEQgY0pyL0-unsplash.jpg);
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 50%;
}
#race {
    padding-left: 15%;
    width: 40%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}


#team a {
    text-decoration: none;
    color: inherit;
    }
    
#team a:hover{
    border-bottom: 1px solid #3a3a3a;
    }
.active{
    border-bottom: 1px solid #3a3a3a;
}
#race a {
    text-decoration: none;
    color: inherit;
    }
    
#race a:hover{
    border-bottom: 1px solid #3a3a3a;
    }
.active{
    border-bottom: 1px solid #3a3a3a;
}

/*team page*/
/*hero image*/
.hero-image2 {
    background-image: url(../image/darren-nunis-aKRaaHnlTMI-unsplash.jpg);
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* text and list */
.team-text-image{
    background-image: url(../image/spencer-davis-zHrm7qcU8Zc-unsplash.jpg);
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 50%;
    padding-left: 45%;
    float: left;
    clear:left;
    margin-bottom: 50px;
}
#team-text{
    padding-top: 30px;
    width: 33%;
    float: left;
    text-align: center;
}
.team-left{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
#team-list{
    padding-top: 30px;
    width: 33%;
    float: right;
}
.team-left h3{
    font-size: 20px;
}
.team-right{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.team-right h3 {
    font-size: 20px;
}

.team-right li {
    font-weight: bold;
}

/*race page*/
.hero-image3 {
    background-image: url(../image/hanson-lu-inVnYQoO9LI-unsplash.jpg);
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}