* {
    margin: 0;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#252525;
    padding-top: 5px;
}

.logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/*menu and logo*/
.menu-bar {
    font-size: 110%;
    letter-spacing: 4px;
}   

.menu-bar, .logo{
    line-height: 75px;
}

.menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}
.menu a {
   text-decoration: none;
   color: inherit;
}

.menu a:hover{
   border-bottom: 1px solid #3a3a3a;
}

.active{
   border-bottom: 1px solid #3a3a3a;
}

/* hero image*/
.hero-image1 {
    background-image: url(../image/gustavo-campos-B87zMorEZRo-unsplash.jpg);
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

/*What is formula One ?*/
#foruma-one{
    height: 400px;
}

#left-side{
    padding-top: 30px;
    width: 33%;
    float: left;
    padding-left: 10%;   
}

#rigth-side{
    padding-top: 30px;
    width: 33%;
    float: right;
    padding-right: 10%;  
}

hr {
    border-top:1px solid #3a3a3a ;
    width: 100%;
    margin: 5px;
}

.rigth-line{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#f1, h2 {
    text-align: center;
}

#f1{
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

/*fast-link*/
#fast-link{
    height: 400px;
    display: flex;  
}

.header-fast-link a {
    text-decoration: none;
    list-style: none;
   color: inherit;
   margin-left: 45%;
}

.header-fast-link a:hover{
    border-bottom: 1px solid #3a3a3a;
 }

 .active{
    border-bottom: 1px solid #3a3a3a;
 }

.team-image {
    background-image: url(../image/hanson-lu-inVnYQoO9LI-unsplash.jpg);
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 25%;
    border-radius: 50%;
}

#team {
    padding-left: 15%;
    width: 40%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.race-image {
    background-image: url(../image/moritz-graf-1wEQgY0pyL0-unsplash.jpg);
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 25%;
    border-radius: 50%;
}

#race {
    padding-left: 15%;
    width: 40%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#team a {
    text-decoration: none;
    color: inherit;
 }
    
#team a:hover{
    border-bottom: 1px solid #3a3a3a;
    }

.active{
    border-bottom: 1px solid #3a3a3a;
}

#race a {
    text-decoration: none;
    color: inherit;
 }

#race a:hover{
    border-bottom: 1px solid #3a3a3a;
 }

.active{
    border-bottom: 1px solid #3a3a3a;
}

/*team page*/
/*hero image*/
.hero-image2 {
    background-image: url(../image/darren-nunis-aKRaaHnlTMI-unsplash.jpg);
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* text and list */
#team-text{
    padding-top: 30px;
    width: 33%;
    float: left;
    text-align: center;
}

.team-left{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#team-list{
    padding-top: 30px;
    width: 33%;
    float: right;
}

.team-left h3{
    font-size: 20px;
}

.team-right{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.rigth-line h3 {
    font-size: 20px;
}

.rigth-line li {
    font-weight: bold;
    font-size: 18px;
}

/*race page*/
/*hero image*/
.hero-image3 {
    background-image: url(../image/hanson-lu-inVnYQoO9LI-unsplash.jpg);
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*race text*/
#race-weekend {
    text-align: center;
}

#race-weekend, p {
    text-align: center;  
}

#race-week {
    height: 600px;
}

.quali-list{
    background-image: url(../image/quali-list.png);
    height: 300px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 25%;  
}

#left-race{
    padding-top: 30px;
    width: 33%;
    float: left;
    padding-left: 10%;
    text-align: center; 
}

#rigth-race{
    padding-top: 30px;
    width: 33%;
    float: right;
    padding-right: 10%;  
    text-align: center; 
}

.footer {
    width: 100%;
    height: 100px;
    padding: 0 0;
    margin: 0 auto;
    background: #d30000;
    border-top: #d30000 4px solid;
    bottom: 0px;
    position: inherit;
    clear: both;
}

/*Media Q*/
/* screen from 1200 and down*/
@media screen and (max-width: 1200px) {
    #formula-one{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #f1{
        padding: 30px 0;
        margin: 0;
    }
    #left-side, #rigth-side {
        width: 100%;
        float: left;
        padding: 0;
    }
    hr { 
        display: none;
    }
}

/* Media Q*/
/*screen 950 and down*/
@media screen and (max-width:950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #formula-one{
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    .left-line, rigth-side {
        width: inherit;
    }
    .left-line h2, rigth-side h2 {
        width: 100%;
        text-align: center;
    }
    
    .left-line p, rigth-side p {
        text-align: center;
        padding: 0 20px;
    }
}